<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420926725940-qr2pe3amgv6urs2uikdlrsuc8m549nhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420926725940-qr2pe3amgv6urs2uikdlrsuc8m549nhu</string>
	<key>API_KEY</key>
	<string>AIzaSyC1OcgkaAyU7uPSkFF1j4AUQad7BfDSV_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>420926725940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.churchapplication</string>
	<key>PROJECT_ID</key>
	<string>streaming-c1e8f</string>
	<key>STORAGE_BUCKET</key>
	<string>streaming-c1e8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420926725940:ios:b27ba312dbf10491c18f61</string>
</dict>
</plist>